https:
  port: ""
      
api:
  autodiscovery: ""

keystore:
  path: ""
  password: ""

notification:
  sapi:
    gmail: 
      url: ""
      port: ""
      protocol: ""
      basePath: ""

app:
  client_id: ""
  client_secret: ""